<%- include('./partials/header', {title: 'Home'}) %>
    <br>

    <body class="bg-image" style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.aarp.net/content/dam/aarp/research/surveys_statistics/life-leisure/2018/images/1140-travel-photos-collage.imgcache.rev137eb6da3017f818cfdfd855d73f1250.jpg');
    height: 400px;">
        <br>
        <div class="p-3 mb-2 bg-dark text-white rounded text-center">
            <h3>Welcome to Stay With Me!</h3>
            <br>
            <p>Newcomer? => <span><a href="/users/register">Click here to register</a></span></p>
            <p>Or if you already have an account => <span><a href="/users/login">Login</a></span></p>
        </div>
    </body>

    </html>