<%- include('../partials/header.ejs', {name: 'Add A Hotel'}) %>
<h1 class="text-center">Form Add Hotel</h1>
    <br>
    <a href="/hotels" class="btn btn-primary">Back to List</a>
    <br>
    <% if (alert) { %>
        <% alert.split(',').forEach(el => { %>
            <div class="alert alert-danger" role="alert">
                <%= el %>
            </div>
            <% }) %>
                <%  } %>
                    <form action="/hotels/add" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Hotel Merah Jambu">
                        </div>
                        <div class="form-group">
                            <label for="facility">Facility</label>
                            <input type="text" name="facility" id="facility" class="form-control" placeholder="Swimming Pool, Free Parking, Free Wifi">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" name="location" id="location" class="form-control" placeholder="Jakarta, Bandung, Yogyakarta">
                        </div>
                        <div class="form-group">
                            <label for="url">Image URL</label>
                            <input type="text" name="url" id="url" class="form-control" placeholder="https://unsplash.com/photos/u-wBgxWhd6w">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" name="price" id="price" class="form-control" placeholder="1000000">
                        </div>
                        
                        <button class="btn btn-success" type="submit">Add Hotel</button>
                        <button class="btn btn-danger" type="reset">Reset</button>
                    </form>

                    </div>
                    </body>

                    </html>