<%- include('../partials/header.ejs', {title: 'List of Books'}) %>
    <a href="#" class="btn btn-primary">Add a book</a>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Cover</th>
                <th scope="col">Genre</th>
                <th scope="col">Released Year</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <h1>ini list</h1>
        </tbody>
    </table>
    </body>

    </html>